<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.generator.dao.MessagesMapper">
  <resultMap id="BaseResultMap" type="org.mybatis.generator.domain.Messages">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="recipient_id" jdbcType="INTEGER" property="recipientId" />
    <result column="message_type" jdbcType="TINYINT" property="messageType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="is_archived" jdbcType="BIT" property="isArchived" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    id, sender_id, recipient_id, message_type, content, timestamp, is_archived
  </sql>
  <select id="selectByExample" parameterType="org.mybatis.generator.domain.MessagesExample" resultMap="BaseResultMap">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    select 
    <include refid="Base_Column_List" />
    from messages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    delete from messages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.mybatis.generator.domain.MessagesExample">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    delete from messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.mybatis.generator.domain.Messages">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into messages (sender_id, recipient_id, message_type, 
      content, timestamp, is_archived
      )
    values (#{senderId,jdbcType=INTEGER}, #{recipientId,jdbcType=INTEGER}, #{messageType,jdbcType=TINYINT}, 
      #{content,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{isArchived,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.mybatis.generator.domain.Messages">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into messages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="senderId != null">
        sender_id,
      </if>
      <if test="recipientId != null">
        recipient_id,
      </if>
      <if test="messageType != null">
        message_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="isArchived != null">
        is_archived,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="senderId != null">
        #{senderId,jdbcType=INTEGER},
      </if>
      <if test="recipientId != null">
        #{recipientId,jdbcType=INTEGER},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="isArchived != null">
        #{isArchived,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.mybatis.generator.domain.MessagesExample" resultType="java.lang.Long">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    select count(*) from messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    update messages
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.senderId != null">
        sender_id = #{record.senderId,jdbcType=INTEGER},
      </if>
      <if test="record.recipientId != null">
        recipient_id = #{record.recipientId,jdbcType=INTEGER},
      </if>
      <if test="record.messageType != null">
        message_type = #{record.messageType,jdbcType=TINYINT},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null">
        timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isArchived != null">
        is_archived = #{record.isArchived,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    update messages
    set id = #{record.id,jdbcType=INTEGER},
      sender_id = #{record.senderId,jdbcType=INTEGER},
      recipient_id = #{record.recipientId,jdbcType=INTEGER},
      message_type = #{record.messageType,jdbcType=TINYINT},
      content = #{record.content,jdbcType=VARCHAR},
      timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      is_archived = #{record.isArchived,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.mybatis.generator.domain.Messages">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    update messages
    <set>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=INTEGER},
      </if>
      <if test="recipientId != null">
        recipient_id = #{recipientId,jdbcType=INTEGER},
      </if>
      <if test="messageType != null">
        message_type = #{messageType,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="isArchived != null">
        is_archived = #{isArchived,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.mybatis.generator.domain.Messages">
    <!--
      This element was generated on 2024-03-06 18:10:37.
    -->
    update messages
    set sender_id = #{senderId,jdbcType=INTEGER},
      recipient_id = #{recipientId,jdbcType=INTEGER},
      message_type = #{messageType,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      is_archived = #{isArchived,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>